.header-container {
    background-color: rgb(0, 140, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.visualize-container {
    display: flex;
    align-items: center;
    margin-right: 500px;
}

.visualize-button {
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.visualize-button span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.visualize-button:hover {
    background-color: #0056b3;
}

.dropdown {
    width: 155px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

.dropdown:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.dropdown option {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.speed {
    width: 155px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

.speed:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.speed option {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.maze {
    width: 155px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

.maze:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.maze option {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.maze option[value=""] {
    display: none;
}

.dropdown option[value=""] {
    display: none;
}

.title-project {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    padding: 0 20px;
    transition: 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-project:hover {
    color: #0056b3;
    transition: color 0.3s ease;
}

.login-button {
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-icon {
    font-size: 50px;
    color: white;
    transition: color 0.3s ease;
}

.logout-button {
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
}

.logout-icon {
    font-size: 50px;
    color: white;
    transition: color 0.3s ease;
}

.user-info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
