.node {
    width: 28px;
    height: 28px;
    background-color: white;
    outline: 1px solid #94e3f7;
    display: inline-block;
    user-select: none;
}

.node-start {
    animation-name: node-start-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.node-start::before, .node-finish::before {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
}

.node-start::before {
    content: "\25B6";
}

.node-finish::before {
    content: "\2691";
}

.node-finish {
    animation-name: node-finish-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.node-wall {
    animation-name: node-wall-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.node-visited {
    animation-name: node-visited-animation;
    animation-duration: 2.5s;
    animation-delay: 0;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path {
    animation-name: node-shortest-path-animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes node-finish-animation {
    0% {
        background-color: rgb(255, 157, 157);
        border-radius: 20%;
        transform: scale(0.8);
    }

    50% {
        background-color: rgb(255, 157, 157);
    }

    75% {
        background-color: rgb(255, 157, 157);
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(255, 157, 157);
        transform: scale(1);
    }
}  

@keyframes node-start-animation {
    0% {
        background-color: rgb(88, 88, 255);
        border-radius: 20%;
        transform: scale(0.8);
    }

    50% {
        background-color: rgb(88, 88, 255);
    }

    75% {
        background-color: rgb(88, 88, 255);
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(88, 88, 255);
        transform: scale(1);
    }
}  

@keyframes node-shortest-path-animation {
    0% {
        background-color: rgb(231, 70, 70);
        border-radius: 50%;
        transform: scale(0.3);
    }

    50% {
        background-color: rgb(250, 52, 52);
    }

    75% {
        background-color: rgb(255, 33, 33);
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(255, 255, 129);
        transform: scale(1);
    }
}

@keyframes node-visited-animation {
    0% {
        background-color: rgb(68, 89, 206);
        border-radius: 50%;
        transform: scale(0.3);
    }

    50% {
        background-color: rgb(3, 40, 143);
    }

    75% {
        background-color: rgb(0, 89, 255);
        transform: scale(1.2);
    }

    100% {
        background-color: rgb(0, 174, 255);
        transform: scale(1);
    }
}

@keyframes node-wall-animation {
    0% {
        background-color: rgb(20, 47, 78);
        transform: scale(0.3);
    }

    50% {
        background-color: rgb(20, 47, 78);

    }

    75% {
        background-color: rgb(20, 47, 78);
        transform: scale(0.8);

    }

    100% {
        background-color: rgb(20, 47, 78);
        transform: scale(1.0);

    }
}
