.node {
    width: 30px;
    height: 30px;
    background-color: white;
    outline: 1px solid black;
    display: inline-block;
}

.node-start {
    background-color: rgb(0, 17, 255);
}

.node-finish {
    background-color: rgb(255, 0, 0);
}

.node-wall {
    background-color: black;
}

.node-visited {
    background-color: green;
}
